@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/background-size", "compass/css3/border-radius";

@include font-face("Roboto", font-files("Roboto-Regular.ttf"));
$color-light-green: #7ade34;
$color-green: #98c576;
$color-why-you-need: #9acb78;

.green-text {
  color: $color-light-green;
  font-weight: bold;
}
.green-background {
  background-color: $color-why-you-need;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
  h2 {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }
}
.font-bold {
  font-weight: bold;
}
%container-padding {
  padding-left: 115px;
  padding-right: 115px;
}
.button-style {
  .orange-button {
    cursor: pointer;
    background-image: url(../images/bg_button.png);
    background-size: cover;
    border: none;
    padding: 20px 40px 15px 30px;
    margin: 20px 0;
    color: #ffffff;
    .btn-text-yes {
      font-weight: bold;
      font-size: 33px;
      padding-right: 20px;
      border-right: 3px solid #ffffff;
    }
    .btn-text-add {
      font-size: 18px;
      padding-left: 40px;
    }
  }
}

%special-promo-style {
  .promo-title {
    margin-left: 45px;
    h3 {
      font-size: 26px;
      margin-bottom: 15px;
    }
    .figcaption-promo {
      font-size: 18px;
    }
  }
  .price {
    font-size: 31px;
  }
  .counter-title {
    font-size: 18px;
    margin: 35px 0 15px 45px;
  }
  #counter {
    padding: 10px 20px;
    margin: 0 auto;
    p {
      font-size: 31px;
    }
    .figcaption-counter {
      font-size: 8px;
    }
  }
}

/* for Bootstrap */
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
/**/
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}
.container-fluid {
  padding: 0;
}

// ------------------------------------------------------------------------------------------------- CONTAINER-FLUID-TOP
#container-fluid-bg-top {
  background: url(../images/bg_header.png) no-repeat local;
  @include background-size(100% 80%);
  // ------------------------------------------------------------------------------------------------------- TOP SECTION
  #top-section {
    color: #ffffff;
    h2 {
      margin: 20px 0;
      font-size: 31px;
    }
    // --------------------------------------------------------------------------------------------- list_with_tick_mark
    .list_with_tick_mark {
      ul {
        margin-top: 40px;
        margin-bottom: 50px;
        li {
          p {
            display: inline-block;
          }
        }
      }
    }
    // ------------------------------------------------------------------------------------------- special-promo-section
    .special-promo-section {
      @extend %special-promo-style;
      @extend .button-style;
    }
    // --------------------------------------------------------------------------------------------------- CARDS SECTION
    .cards-section {
      margin-top: 40px;
      .col-md-4 {
        padding-left: 4px;
        padding-right: 4px;
        .card-image {
          margin-bottom: 20px;
        }
        .card {
          @include border-radius(10px);
          color: #000000;
          background-color: #ffffff;
          padding: 20px;
          min-height: 440px;
          .card-image-inner {
            padding-top: 15px;
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}


// ---------------------------------------------------------------------------------------------- CONTAINER-FLUID-SAKURA
#container-fluid-bg-sakura {
  background: url(../images/bg_sakura.png) no-repeat local;
  @include background-size(cover);
  .sakura-title {
    @extend .green-background;
    background-color: $color-green;
    h2 {
      font-size: 26px;
    }
  }
  .sakura-text {
    p {
      @extend %container-padding;
      font-size: 20px;
      padding-bottom: 45px;
      line-height: 24px;
    }
  }
}


// --------------------------------------------------------------------------------------------- SPECIAL-PROMO-SECTION-2
.special-promo-section-2 {
  @extend %special-promo-style;
  @extend .button-style;
  text-align: center;
  .promo-title {
    margin-left: 0;
    h3 {
      margin-top: 50px;
      margin-bottom: 15px;
    }
  }
  #counter-2 {
    text-align: center;
    p {
      font-size: 31px;
    }
    .figcaption-counter-2 {
      font-size: 8px;
    }
  }
}


// -------------------------------------------------------------------------------------------------------- WHY YOU NEED
#why-you-need-section {
  margin-bottom: 20px;
  .why-you-need-title {
    @extend .green-background;
    margin-bottom: 20px;
  }
  .why-you-need-content {
    h3 {
      font-weight: bold;
      font-size: 26px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    ul {
      @extend %container-padding;
    }
  }
}


// ------------------------------------------------------------------------------------------------ CONTAINER-FLUID-GIRL
#container-fluid-bg-girl {
  background: url(../images/bg_girl.png) no-repeat local;
  @include background-size(cover);
  @extend .button-style;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  .girl-content {
    @extend %container-padding;
    font-size: 22px;
    .orange-button {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}
// ------------------------------------------------------------------------------------------- /end container-fluid-girl


// --------------------------------------------------------------------------------------------- SPECIAL-PROMO-SECTION-3
.whats-more-title {
  @extend .green-background;
  margin-top: 0;
  .smaller-text {
    font-size: 26px;
  }
}
.whats-more-content {
  padding-bottom: 40px;
  @extend %container-padding;
}