@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/background-size", "compass/css3/border-radius";


// -------------------------------------------------------------------------------------------------------------- MIXINS
@mixin change-large-screen {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin change-small-screen {
  @media only screen and (max-width: 991px) {
    @content;
  }
}
@mixin change-extra-small-screen {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
// --------------------------------------------------------------------------------------------------------- /end mixins

// ----------------------------------------------------------------------------------------------------- INCLUDE, EXTEND
@include font-face("Roboto", font-files("Roboto-Regular.ttf"));
$color-light-green: #7ade34;
$color-green: #98c576;
$color-footer: #9acb78;

.green-text {
  color: $color-light-green;
  font-weight: bold;
}
.green-background {
  background-color: $color-footer;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
  h2 {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    @include change-small-screen {
      font-size: 26px;
      line-height: 22px;
    }
  }
}
.font-bold {
  font-weight: bold;
}
%container-padding {
  padding-left: 115px;
  padding-right: 115px;
  @include change-small-screen {
    padding-left: 0;
    padding-right: 0;
  }
}
.button-style {
  @include change-extra-small-screen {
    text-align: center;
  }
  .orange-button {
    cursor: pointer;
    background-image: url(../images/bg_button.png);
    background-size: cover;
    border: none;
    padding: 20px 40px 15px 30px;
    margin: 20px 0;
    color: #ffffff;
    .btn-text-yes {
      font-weight: bold;
      font-size: 33px;
      padding-right: 20px;
      border-right: 3px solid #ffffff;
    }
    .btn-text-add {
      font-size: 18px;
      padding-left: 40px;
    }
  }
}
%special-promo-style {
  .promo-title {
    margin-left: 45px;
    h3 {
      font-size: 26px;
      margin-bottom: 15px;
    }
    .figcaption-promo {
      font-size: 18px;
    }
  }
  .price {
    font-size: 31px;
  }
  .counter-title {
    font-size: 18px;
    margin: 35px 0 15px 45px;
  }
  #counter {
    padding: 10px 0;
    margin: 0 auto;
    @include change-extra-small-screen {
      margin-left: 30%;
    }
    p {
      font-size: 31px;
      text-align: center;
    }
    .figcaption-counter {
      font-size: 8px;
      text-align: center;
    }
  }
}
// ------------------------------------------------------------------------------------------------ /end include, extend

// -------------------------------------------------------------------------------------------------------------- GLOBAL
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}
.container-fluid {
  padding: 0;
}
.container {
  @include change-large-screen {
    width: 1020px;
  }
}
// --------------------------------------------------------------------------------------------------------- /end global

// ------------------------------------------------------------------------------------------------- CONTAINER-FLUID-TOP
#container-fluid-bg-top {
  background: url(../images/bg_header.png) no-repeat local;
  @include background-size(100% 80%);
  @include change-small-screen {
    @include background-size(100% 60%);
  }
  @include change-extra-small-screen {
    @include background-size(cover);
  }
  // ------------------------------------------------------------------------------------------------------- TOP SECTION
  #top-section {
    color: #ffffff;
    h2 {
      margin: 20px 0;
      font-size: 31px;
      @include change-extra-small-screen {
        font-size: 18px;
        text-align: center;
      }
    }
    p {
      @include change-extra-small-screen {
        font-size: 14px;
        text-align: center;
      }
    }
    // --------------------------------------------------------------------------------------------- list-with-tick-mark
    .list_with_tick_mark {
      ul {
        margin-top: 40px;
        margin-bottom: 50px;
        li {
          margin-bottom: 10px;
          img {
            padding-right: 10px;
            vertical-align: middle;
          }
          p {
            display: inline-block;
          }
        }
      }
    }
    // ------------------------------------------------------------------------------------------- special-promo-section
    .special-promo-section {
      @extend %special-promo-style;
      @extend .button-style;
    }
    // --------------------------------------------------------------------------------------------------- CARDS SECTION
    .cards-section {
      margin-top: 40px;
      .col-md-4 {
        padding-left: 4px;
        padding-right: 4px;
        .card-image {
          margin-bottom: 20px;
        }
        .card {
          @include border-radius(10px);
          color: #000000;
          background-color: #ffffff;
          padding: 20px;
          height: 500px;
          @include change-small-screen {
            height: 600px;
          }
          .card-content-last {
            margin-top: 100px;
            height: 100px;
            @include change-small-screen {
              margin-top: 110px;
            }
            .card-image-inner {
              padding-top: 15px;
              padding-bottom: 30px;
            }
          }
          .card-content {
            height: 100px;
            @include change-small-screen {
              height: 130px;
            }
            .card-image-inner {
              padding-top: 15px;
              padding-bottom: 30px;
            }
          }
        }
      }
    }
    // --------------------------------------------------------------------------------------------------- IMAGE SECTION
    .header-image-section {
      position: relative;
      top: 0;
      left: 0;
      .image-premium {
        position: relative;
        top: 0;
        left: 0;
      }
      .discount-image {
        position: absolute;
        top: 0;
        right: 50px;
        @include change-small-screen {
          max-width: 100px;
          top: 10px;
          right: 30px;
        }
      }
    }
  }
}


// ---------------------------------------------------------------------------------------------- CONTAINER-FLUID-SAKURA
#container-fluid-bg-sakura {
  background: url(../images/bg_sakura.png) no-repeat local;
  @include background-size(cover);
  .sakura-title {
    @extend .green-background;
    background-color: $color-green;
    h2 {
      font-size: 26px;
      @include change-small-screen {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
  .sakura-text {
    p {
      @extend %container-padding;
      font-size: 20px;
      padding-bottom: 45px;
      line-height: 24px;
    }
  }
}


// --------------------------------------------------------------------------------------------- SPECIAL-PROMO-SECTION-2
.special-promo-section-2 {
  position: relative;
  @extend %special-promo-style;
  @extend .button-style;
  text-align: center;
  .discount-image-2 {
    position: absolute;
    right: 0;
    top: -55px;
    @include change-small-screen {
      max-width: 100px;
      top: -40px;
      right: 30px;
    }
  }
  .promo-title {
    margin-left: 0;
    h3 {
      margin-top: 50px;
      margin-bottom: 15px;
    }
  }
  .counter-title {
    font-size: 18px;
    margin: 35px 0 15px 0;
  }
  #counter-2 {
    text-align: center;
    @include change-extra-small-screen {
      margin-left: 30%;
    }
    p {
      font-size: 31px;
    }
    .figcaption-counter-2 {
      font-size: 8px;
      text-align: center;
    }
  }
}


// -------------------------------------------------------------------------------------------------------- WHY YOU NEED
#why-you-need-section {
  margin-bottom: 20px;
  .why-you-need-title {
    @extend .green-background;
    margin-bottom: 20px;
  }
  .why-you-need-content {
    h3 {
      font-weight: bold;
      font-size: 26px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      @include change-small-screen {
        font-size: 18px;
        line-height: 22px;
      }
    }
    ul {
      @extend %container-padding;
    }
  }
}


// ------------------------------------------------------------------------------------------------ CONTAINER-FLUID-GIRL
#container-fluid-bg-girl {
  background: url(../images/bg_girl.png) no-repeat local;
  @include background-size(cover);
  @extend .button-style;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  .girl-content {
    @extend %container-padding;
    font-size: 22px;
    .orange-button {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}


// ------------------------------------------------------------------------------------------------------------- REVIEWS
#whats-more {
  .whats-more-title {
    @extend .green-background;
    margin-top: 0;
    position: relative;
    .discount-image-3 {
      position: absolute;
      top: -50px;
      right: 120px;
      @include change-small-screen {
        max-width: 100px;
        top: -20px;
      }
    }
    .smaller-text {
      font-size: 26px;
    }
  }
  .whats-more-content {
    @extend %container-padding;
    padding-bottom: 40px;
  }
  .reviews-content {
    @extend %container-padding;
    .reviews-section {
      margin-bottom: 80px;
      .name {
        font-weight: bold;
        padding-bottom: 10px;
      }
    }
    .reviews-section-last {
      margin-bottom: 0;
    }
  }
}

.special-promo-section-2 {
  @extend %special-promo-style;
  @extend .button-style;
  text-align: center;
  #counter-3 {
    @include change-extra-small-screen {
      margin-left: 30%;
    }
    p {
      font-size: 31px;
    }
    .figcaption-counter-3 {
      font-size: 8px;
    }
  }
}


// -------------------------------------------------------------------------------------------------------------- FOOTER
#footer {
  background-color: $color-footer;
  color: #ffffff;
  margin-top: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  img {
    padding-right: 115px;
    @include change-extra-small-screen {
      padding: 0;
      text-align: center;
    }
  }
  .footer-text {
    padding-left: 30px;
    h1 {
      font-weight: bold;
      font-size: 26px;
      padding-top: 35px;
      padding-bottom: 25px;
      @include change-small-screen {
        font-size: 22px;
        line-height: 22px;
      }
    }
    p {
      font-size: 18px;
      line-height: 22px;
      @include change-small-screen {
        font-size: 16px;
      }
    }
  }
}


