/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
/* line 33, ../sass/stylesheet.scss */
.green-text {
  color: #7ade34;
  font-weight: bold;
}

/* line 37, ../sass/stylesheet.scss */
.green-background, #container-fluid-bg-sakura .sakura-title, #why-you-need-section .why-you-need-title, #whats-more .whats-more-title {
  background-color: #9acb78;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 480px) {
  /* line 37, ../sass/stylesheet.scss */
  .green-background, #container-fluid-bg-sakura .sakura-title, #why-you-need-section .why-you-need-title, #whats-more .whats-more-title {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
  }
}
/* line 47, ../sass/stylesheet.scss */
.green-background h2, #container-fluid-bg-sakura .sakura-title h2, #why-you-need-section .why-you-need-title h2, #whats-more .whats-more-title h2 {
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  /* line 47, ../sass/stylesheet.scss */
  .green-background h2, #container-fluid-bg-sakura .sakura-title h2, #why-you-need-section .why-you-need-title h2, #whats-more .whats-more-title h2 {
    font-size: 26px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 47, ../sass/stylesheet.scss */
  .green-background h2, #container-fluid-bg-sakura .sakura-title h2, #why-you-need-section .why-you-need-title h2, #whats-more .whats-more-title h2 {
    font-size: 22px;
  }
}

/* line 61, ../sass/stylesheet.scss */
.font-bold {
  font-weight: bold;
}

/* line 64, ../sass/stylesheet.scss */
#container-fluid-bg-sakura .sakura-text p, #why-you-need-section .why-you-need-content ul, #container-fluid-bg-girl .girl-content, #whats-more .whats-more-content, #whats-more .reviews-content {
  padding-left: 115px;
  padding-right: 115px;
}
@media only screen and (max-width: 991px) {
  /* line 64, ../sass/stylesheet.scss */
  #container-fluid-bg-sakura .sakura-text p, #why-you-need-section .why-you-need-content ul, #container-fluid-bg-girl .girl-content, #whats-more .whats-more-content, #whats-more .reviews-content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 72, ../sass/stylesheet.scss */
  #container-fluid-bg-sakura .sakura-text p .row, #why-you-need-section .why-you-need-content ul .row, #container-fluid-bg-girl .girl-content .row, #whats-more .whats-more-content .row, #whats-more .reviews-content .row {
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  /* line 78, ../sass/stylesheet.scss */
  .button-style, #container-fluid-bg-top #top-section .special-promo-section, .special-promo-section-2, #container-fluid-bg-girl .girl-content {
    text-align: center;
  }
}
/* line 82, ../sass/stylesheet.scss */
.button-style .orange-button, #container-fluid-bg-top #top-section .special-promo-section .orange-button, .special-promo-section-2 .orange-button, #container-fluid-bg-girl .girl-content .orange-button {
  cursor: pointer;
  background-image: url(../images/bg_button.png);
  background-size: cover;
  border: none;
  padding: 20px 40px 15px 30px;
  margin: 20px 0;
  color: #ffffff;
}
@media only screen and (max-width: 480px) {
  /* line 82, ../sass/stylesheet.scss */
  .button-style .orange-button, #container-fluid-bg-top #top-section .special-promo-section .orange-button, .special-promo-section-2 .orange-button, #container-fluid-bg-girl .girl-content .orange-button {
    padding: 15px 20px 15px 20px;
    margin: 0;
  }
}
/* line 94, ../sass/stylesheet.scss */
.button-style .orange-button .btn-text-yes, #container-fluid-bg-top #top-section .special-promo-section .orange-button .btn-text-yes, .special-promo-section-2 .orange-button .btn-text-yes, #container-fluid-bg-girl .girl-content .orange-button .btn-text-yes {
  font-weight: bold;
  font-size: 33px;
  padding-right: 20px;
  border-right: 3px solid #ffffff;
}
@media only screen and (max-width: 480px) {
  /* line 94, ../sass/stylesheet.scss */
  .button-style .orange-button .btn-text-yes, #container-fluid-bg-top #top-section .special-promo-section .orange-button .btn-text-yes, .special-promo-section-2 .orange-button .btn-text-yes, #container-fluid-bg-girl .girl-content .orange-button .btn-text-yes {
    font-size: 26px;
    padding-right: 15px;
    border-right: 2px solid #ffffff;
  }
}
/* line 105, ../sass/stylesheet.scss */
.button-style .orange-button .btn-text-add, #container-fluid-bg-top #top-section .special-promo-section .orange-button .btn-text-add, .special-promo-section-2 .orange-button .btn-text-add, #container-fluid-bg-girl .girl-content .orange-button .btn-text-add {
  font-size: 18px;
  padding-left: 40px;
}
@media only screen and (max-width: 480px) {
  /* line 105, ../sass/stylesheet.scss */
  .button-style .orange-button .btn-text-add, #container-fluid-bg-top #top-section .special-promo-section .orange-button .btn-text-add, .special-promo-section-2 .orange-button .btn-text-add, #container-fluid-bg-girl .girl-content .orange-button .btn-text-add {
    font-size: 15px;
    padding-left: 35px;
  }
}

/* line 116, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .promo-title, .special-promo-section-2 .promo-title {
  margin-left: 45px;
}
/* line 118, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .promo-title h3, .special-promo-section-2 .promo-title h3 {
  font-size: 26px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  /* line 118, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .promo-title h3, .special-promo-section-2 .promo-title h3 {
    font-size: 20px;
    margin-bottom: 5px !important;
    margin-top: 30px !important;
  }
}
/* line 127, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .promo-title .figcaption-promo, .special-promo-section-2 .promo-title .figcaption-promo {
  font-size: 18px;
}
@media only screen and (max-width: 767px) {
  /* line 127, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .promo-title .figcaption-promo, .special-promo-section-2 .promo-title .figcaption-promo {
    font-size: 14px;
    padding-bottom: 10px;
  }
}
/* line 135, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .price, .special-promo-section-2 .price {
  font-size: 31px;
}
@media only screen and (max-width: 480px) {
  /* line 135, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .price, .special-promo-section-2 .price {
    font-size: 24px;
    padding-top: 15px;
  }
}
/* line 142, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .counter-title, .special-promo-section-2 .counter-title {
  font-size: 18px;
  margin: 35px 0 15px 45px;
}
@media only screen and (max-width: 480px) {
  /* line 142, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .counter-title, .special-promo-section-2 .counter-title {
    margin: 10px 0 !important;
  }
}
/* line 149, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section #counter, .special-promo-section-2 #counter {
  padding: 10px 0;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  /* line 149, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section #counter, .special-promo-section-2 #counter {
    margin-left: 30%;
  }
}
/* line 155, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section #counter p, .special-promo-section-2 #counter p {
  font-size: 31px;
  text-align: center;
}
/* line 159, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section #counter .figcaption-counter, .special-promo-section-2 #counter .figcaption-counter {
  font-size: 8px;
  text-align: center;
}

/* line 168, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 169, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 171, ../sass/stylesheet.scss */
a:hover {
  text-decoration: none;
}

/* line 175, ../sass/stylesheet.scss */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}

/* line 179, ../sass/stylesheet.scss */
.container-fluid {
  padding: 0;
}

@media only screen and (min-width: 1200px) {
  /* line 182, ../sass/stylesheet.scss */
  .container {
    width: 1020px;
  }
}

/* line 190, ../sass/stylesheet.scss */
#container-fluid-bg-top {
  background: url(../images/bg_header.jpg) no-repeat local;
}
/* line 193, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section {
  color: #ffffff;
}
/* line 195, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section h2 {
  margin: 20px 0;
  font-size: 31px;
}
@media only screen and (max-width: 767px) {
  /* line 195, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section h2 {
    font-size: 18px;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  /* line 203, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section p {
    font-size: 14px;
  }
}
/* line 210, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .list_with_tick_mark ul {
  margin-top: 40px;
  margin-bottom: 50px;
}
/* line 213, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .list_with_tick_mark ul li {
  margin-bottom: 10px;
}
/* line 215, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .list_with_tick_mark ul li img {
  padding-right: 10px;
  vertical-align: middle;
}
/* line 219, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .list_with_tick_mark ul li p {
  display: inline-block;
}
/* line 231, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section {
  margin-top: 40px;
}
/* line 233, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 {
  padding-left: 4px;
  padding-right: 4px;
}
/* line 236, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card-image {
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  /* line 236, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-image {
    margin-bottom: 0;
  }
}
/* line 242, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #000000;
  background-color: #ffffff;
  padding: 20px;
  height: 500px;
}
@media only screen and (max-width: 991px) {
  /* line 242, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 {
    height: 600px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 242, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 {
    height: 450px;
  }
}
/* line 254, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content-last, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content-last {
  margin-top: 100px;
  height: 100px;
}
@media only screen and (max-width: 991px) {
  /* line 254, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content-last, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content-last {
    margin-top: 110px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 254, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content-last, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content-last {
    margin-top: 90px;
  }
}
/* line 263, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content-last .card-image-inner, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content-last .card-image-inner {
  padding-top: 15px;
  padding-bottom: 30px;
}
/* line 268, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content {
  height: 100px;
}
@media only screen and (max-width: 991px) {
  /* line 268, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content {
    height: 130px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 268, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content {
    height: 90px;
  }
}
/* line 276, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content .card-image-inner, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content .card-image-inner {
  padding-top: 15px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 480px) {
  /* line 282, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 {
    height: 300px;
  }
}
/* line 291, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .header-image-section {
  position: relative;
  top: 0;
  left: 0;
}
/* line 295, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .header-image-section .image-premium {
  position: relative;
  top: 0;
  left: 0;
}
/* line 300, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .header-image-section .discount-image {
  position: absolute;
  top: 0;
  right: 50px;
}
@media only screen and (max-width: 991px) {
  /* line 300, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .header-image-section .discount-image {
    max-width: 100px;
    top: 10px;
    right: 30px;
  }
}

/* line 316, ../sass/stylesheet.scss */
#container-fluid-bg-sakura {
  background: url(../images/bg_sakura.jpg) no-repeat local;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 480px) {
  /* line 316, ../sass/stylesheet.scss */
  #container-fluid-bg-sakura {
    display: none;
  }
}
/* line 322, ../sass/stylesheet.scss */
#container-fluid-bg-sakura .sakura-title {
  background-color: #98c576;
}
/* line 325, ../sass/stylesheet.scss */
#container-fluid-bg-sakura .sakura-title h2 {
  font-size: 26px;
}
@media only screen and (max-width: 991px) {
  /* line 325, ../sass/stylesheet.scss */
  #container-fluid-bg-sakura .sakura-title h2 {
    font-size: 20px;
    line-height: 22px;
  }
}
/* line 334, ../sass/stylesheet.scss */
#container-fluid-bg-sakura .sakura-text p {
  font-size: 20px;
  padding-bottom: 45px;
  line-height: 24px;
}

/* line 345, ../sass/stylesheet.scss */
.special-promo-section-2 {
  position: relative;
  text-align: center;
}
/* line 350, ../sass/stylesheet.scss */
.special-promo-section-2 .discount-image-2 {
  position: absolute;
  right: 0;
  top: -55px;
}
@media only screen and (max-width: 991px) {
  /* line 350, ../sass/stylesheet.scss */
  .special-promo-section-2 .discount-image-2 {
    max-width: 100px;
    top: -40px;
    right: 30px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 350, ../sass/stylesheet.scss */
  .special-promo-section-2 .discount-image-2 {
    display: none;
  }
}
/* line 363, ../sass/stylesheet.scss */
.special-promo-section-2 .promo-title {
  margin-left: 0;
}
/* line 365, ../sass/stylesheet.scss */
.special-promo-section-2 .promo-title h3 {
  margin-top: 50px;
  margin-bottom: 15px;
}
/* line 370, ../sass/stylesheet.scss */
.special-promo-section-2 .counter-title {
  font-size: 18px;
  margin: 35px 0 15px 0;
}
/* line 374, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-2 {
  text-align: center;
}
/* line 376, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-2 p {
  font-size: 31px;
}
/* line 379, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-2 .figcaption-counter-2 {
  font-size: 8px;
  text-align: center;
}

/* line 388, ../sass/stylesheet.scss */
#why-you-need-section {
  margin-bottom: 20px;
}
/* line 390, ../sass/stylesheet.scss */
#why-you-need-section .why-you-need-title {
  margin-bottom: 20px;
}
/* line 395, ../sass/stylesheet.scss */
#why-you-need-section .why-you-need-content h3 {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  /* line 395, ../sass/stylesheet.scss */
  #why-you-need-section .why-you-need-content h3 {
    line-height: 22px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 406, ../sass/stylesheet.scss */
  #why-you-need-section .why-you-need-content ul {
    padding-bottom: 10px;
  }
}
/* line 412, ../sass/stylesheet.scss */
#why-you-need-section .why-you-need-content ul li img {
  padding-right: 5px;
  vertical-align: middle;
}
@media only screen and (max-width: 480px) {
  /* line 411, ../sass/stylesheet.scss */
  #why-you-need-section .why-you-need-content ul li {
    line-height: 24px;
  }
}

/* line 426, ../sass/stylesheet.scss */
#container-fluid-bg-girl {
  background: url(../images/bg_girl.jpg) no-repeat local;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 480px) {
  /* line 426, ../sass/stylesheet.scss */
  #container-fluid-bg-girl {
    background: none;
    padding-top: 0;
    padding-bottom: 30px;
  }
}
/* line 437, ../sass/stylesheet.scss */
#container-fluid-bg-girl .girl-content {
  font-size: 22px;
}

@media only screen and (max-width: 480px) {
  /* line 447, ../sass/stylesheet.scss */
  #whats-more .mobile-hidden {
    display: none;
  }
}
/* line 452, ../sass/stylesheet.scss */
#whats-more .whats-more-title {
  margin-top: 0;
  position: relative;
}
/* line 456, ../sass/stylesheet.scss */
#whats-more .whats-more-title .discount-image-3 {
  position: absolute;
  top: -50px;
  right: 120px;
}
@media only screen and (max-width: 991px) {
  /* line 456, ../sass/stylesheet.scss */
  #whats-more .whats-more-title .discount-image-3 {
    max-width: 100px;
    top: -20px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 456, ../sass/stylesheet.scss */
  #whats-more .whats-more-title .discount-image-3 {
    display: none;
  }
}
/* line 468, ../sass/stylesheet.scss */
#whats-more .whats-more-title .smaller-text {
  font-size: 26px;
}
/* line 472, ../sass/stylesheet.scss */
#whats-more .whats-more-content {
  padding-bottom: 40px;
}
/* line 478, ../sass/stylesheet.scss */
#whats-more .reviews-content .reviews-section {
  margin-bottom: 80px;
}
@media only screen and (max-width: 480px) {
  /* line 478, ../sass/stylesheet.scss */
  #whats-more .reviews-content .reviews-section {
    margin-bottom: 30px;
  }
}
/* line 483, ../sass/stylesheet.scss */
#whats-more .reviews-content .reviews-section .name {
  font-weight: bold;
  padding-bottom: 10px;
}
/* line 488, ../sass/stylesheet.scss */
#whats-more .reviews-content .reviews-section-last {
  margin-bottom: 0;
}

/* line 494, ../sass/stylesheet.scss */
.special-promo-section-2 {
  text-align: center;
}
/* line 499, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-3 p {
  font-size: 31px;
}
/* line 502, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-3 .figcaption-counter-3 {
  font-size: 8px;
}

/* line 510, ../sass/stylesheet.scss */
#footer {
  background-color: #9acb78;
  color: #ffffff;
  margin-top: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 480px) {
  /* line 510, ../sass/stylesheet.scss */
  #footer {
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 25px;
  }
}
/* line 521, ../sass/stylesheet.scss */
#footer img {
  padding-right: 115px;
}
@media only screen and (max-width: 767px) {
  /* line 521, ../sass/stylesheet.scss */
  #footer img {
    padding-right: 0;
    padding-top: 20px;
    text-align: center;
  }
}
/* line 529, ../sass/stylesheet.scss */
#footer .footer-text {
  padding-left: 30px;
}
/* line 531, ../sass/stylesheet.scss */
#footer .footer-text h1 {
  font-weight: bold;
  font-size: 26px;
  padding-top: 35px;
  padding-bottom: 25px;
}
@media only screen and (max-width: 991px) {
  /* line 531, ../sass/stylesheet.scss */
  #footer .footer-text h1 {
    font-size: 22px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 531, ../sass/stylesheet.scss */
  #footer .footer-text h1 {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}
/* line 545, ../sass/stylesheet.scss */
#footer .footer-text p {
  font-size: 18px;
  line-height: 22px;
}
@media only screen and (max-width: 991px) {
  /* line 545, ../sass/stylesheet.scss */
  #footer .footer-text p {
    font-size: 16px;
  }
}
