/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
/* line 7, ../sass/stylesheet.scss */
.green-text {
  color: #7ade34;
  font-weight: bold;
}

/* line 14, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .promo-title, .special-promo-section-2 .promo-title {
  margin-left: 45px;
}
/* line 16, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .promo-title h3, .special-promo-section-2 .promo-title h3 {
  font-size: 26px;
  margin-bottom: 15px;
}
/* line 20, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .promo-title .figcaption-promo, .special-promo-section-2 .promo-title .figcaption-promo {
  font-size: 18px;
}
/* line 24, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .orange-button, .special-promo-section-2 .orange-button {
  cursor: pointer;
  background-image: url(../images/bg_button.png);
  background-size: cover;
  border: none;
  padding: 20px 40px 15px 30px;
  margin: 20px 0;
}
/* line 31, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .orange-button .btn-text-yes, .special-promo-section-2 .orange-button .btn-text-yes {
  font-weight: bold;
  font-size: 33px;
  padding-right: 20px;
  border-right: 3px solid #ffffff;
}
/* line 37, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .orange-button .btn-text-add, .special-promo-section-2 .orange-button .btn-text-add {
  font-size: 18px;
  padding-left: 40px;
}
/* line 42, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .price, .special-promo-section-2 .price {
  font-size: 31px;
}
/* line 45, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .counter-title, .special-promo-section-2 .counter-title {
  font-size: 18px;
  margin: 35px 0 15px 45px;
}
/* line 50, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section #counter, .special-promo-section-2 #counter {
  padding: 10px 20px;
  margin: 0 auto;
}
/* line 53, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section #counter p, .special-promo-section-2 #counter p {
  font-size: 31px;
}
/* line 56, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section #counter .figcaption-counter, .special-promo-section-2 #counter .figcaption-counter {
  font-size: 8px;
}

/* for Bootstrap */
/* line 63, ../sass/stylesheet.scss */
.no-margin {
  margin: 0 !important;
}

/* line 64, ../sass/stylesheet.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/**/
/* line 69, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 70, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 72, ../sass/stylesheet.scss */
a:hover {
  text-decoration: none;
}

/* line 76, ../sass/stylesheet.scss */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}

/* line 80, ../sass/stylesheet.scss */
.container-fluid {
  padding: 0;
}

/* line 86, ../sass/stylesheet.scss */
#container-fluid-bg-top {
  background: url(../images/bg_header.png) no-repeat local;
  -moz-background-size: 100% 80%;
  -o-background-size: 100% 80%;
  -webkit-background-size: 100% 80%;
  background-size: 100% 80%;
}
/* line 90, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section {
  color: #ffffff;
}
/* line 92, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section h2 {
  margin: 20px 0;
  font-size: 31px;
}
/* line 98, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .list_with_tick_mark ul {
  margin-top: 40px;
  margin-bottom: 50px;
  vertical-align: middle;
}
/* line 103, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .list_with_tick_mark ul li p {
  display: inline-block;
}
/* line 114, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section {
  margin-top: 40px;
}
/* line 116, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 {
  padding-left: 4px;
  padding-right: 4px;
}
/* line 119, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card-image {
  margin-bottom: 20px;
}
/* line 122, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #000000;
  background-color: #ffffff;
  padding: 20px;
  min-height: 440px;
}
/* line 128, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-image-inner {
  padding-top: 15px;
  padding-bottom: 30px;
}

/* line 142, ../sass/stylesheet.scss */
#container-fluid-bg-sakura {
  background: url(../images/bg_sakura.png) no-repeat local;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
/* line 145, ../sass/stylesheet.scss */
#container-fluid-bg-sakura .sakura-title {
  background-color: #98c576;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
}
/* line 150, ../sass/stylesheet.scss */
#container-fluid-bg-sakura .sakura-title h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
/* line 158, ../sass/stylesheet.scss */
#container-fluid-bg-sakura .sakura-text p {
  font-size: 20px;
  padding-left: 115px;
  padding-right: 115px;
  padding-bottom: 45px;
  line-height: 24px;
}

/* line 170, ../sass/stylesheet.scss */
.special-promo-section-2 {
  text-align: center;
}
/* line 173, ../sass/stylesheet.scss */
.special-promo-section-2 .promo-title {
  margin-left: 0;
}
/* line 175, ../sass/stylesheet.scss */
.special-promo-section-2 .promo-title h3 {
  margin-top: 50px;
  margin-bottom: 15px;
}
/* line 180, ../sass/stylesheet.scss */
.special-promo-section-2 .orange-button {
  color: #ffffff;
}
/* line 183, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-2 {
  text-align: center;
  margin-bottom: 45px;
}
/* line 186, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-2 p {
  font-size: 31px;
}
/* line 189, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-2 .figcaption-counter-2 {
  font-size: 8px;
}
