/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
/* line 33, ../sass/stylesheet.scss */
.green-text {
  color: #7ade34;
  font-weight: bold;
}

/* line 37, ../sass/stylesheet.scss */
.green-background, #container-fluid-bg-sakura .sakura-title, #why-you-need-section .why-you-need-title, #whats-more .whats-more-title {
  background-color: #9acb78;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 480px) {
  /* line 37, ../sass/stylesheet.scss */
  .green-background, #container-fluid-bg-sakura .sakura-title, #why-you-need-section .why-you-need-title, #whats-more .whats-more-title {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
  }
}
/* line 47, ../sass/stylesheet.scss */
.green-background h2, #container-fluid-bg-sakura .sakura-title h2, #why-you-need-section .why-you-need-title h2, #whats-more .whats-more-title h2 {
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  /* line 47, ../sass/stylesheet.scss */
  .green-background h2, #container-fluid-bg-sakura .sakura-title h2, #why-you-need-section .why-you-need-title h2, #whats-more .whats-more-title h2 {
    font-size: 26px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 47, ../sass/stylesheet.scss */
  .green-background h2, #container-fluid-bg-sakura .sakura-title h2, #why-you-need-section .why-you-need-title h2, #whats-more .whats-more-title h2 {
    font-size: 22px;
  }
}

/* line 61, ../sass/stylesheet.scss */
.font-bold {
  font-weight: bold;
}

/* line 64, ../sass/stylesheet.scss */
#container-fluid-bg-sakura .sakura-text p, #why-you-need-section .why-you-need-content ul, #container-fluid-bg-girl .girl-content, #whats-more .whats-more-content, #whats-more .reviews-content {
  padding-left: 115px;
  padding-right: 115px;
}
@media only screen and (max-width: 991px) {
  /* line 64, ../sass/stylesheet.scss */
  #container-fluid-bg-sakura .sakura-text p, #why-you-need-section .why-you-need-content ul, #container-fluid-bg-girl .girl-content, #whats-more .whats-more-content, #whats-more .reviews-content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 72, ../sass/stylesheet.scss */
  #container-fluid-bg-sakura .sakura-text p .row, #why-you-need-section .why-you-need-content ul .row, #container-fluid-bg-girl .girl-content .row, #whats-more .whats-more-content .row, #whats-more .reviews-content .row {
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  /* line 78, ../sass/stylesheet.scss */
  .button-style, #container-fluid-bg-top #top-section .special-promo-section, .special-promo-section-2, #container-fluid-bg-girl .girl-content {
    text-align: center;
  }
}
/* line 82, ../sass/stylesheet.scss */
.button-style .orange-button, #container-fluid-bg-top #top-section .special-promo-section .orange-button, .special-promo-section-2 .orange-button, #container-fluid-bg-girl .girl-content .orange-button {
  cursor: pointer;
  background-image: url(../images/bg_button.png);
  background-size: cover;
  border: none;
  padding: 20px 40px 15px 30px;
  margin: 20px 0;
  color: #ffffff;
}
@media only screen and (max-width: 480px) {
  /* line 82, ../sass/stylesheet.scss */
  .button-style .orange-button, #container-fluid-bg-top #top-section .special-promo-section .orange-button, .special-promo-section-2 .orange-button, #container-fluid-bg-girl .girl-content .orange-button {
    padding: 15px 20px 15px 20px;
    margin: 0;
  }
}
/* line 94, ../sass/stylesheet.scss */
.button-style .orange-button .btn-text-yes, #container-fluid-bg-top #top-section .special-promo-section .orange-button .btn-text-yes, .special-promo-section-2 .orange-button .btn-text-yes, #container-fluid-bg-girl .girl-content .orange-button .btn-text-yes {
  font-weight: bold;
  font-size: 33px;
  padding-right: 20px;
  border-right: 3px solid #ffffff;
}
@media only screen and (max-width: 480px) {
  /* line 94, ../sass/stylesheet.scss */
  .button-style .orange-button .btn-text-yes, #container-fluid-bg-top #top-section .special-promo-section .orange-button .btn-text-yes, .special-promo-section-2 .orange-button .btn-text-yes, #container-fluid-bg-girl .girl-content .orange-button .btn-text-yes {
    font-size: 26px;
    padding-right: 15px;
    border-right: 2px solid #ffffff;
  }
}
/* line 105, ../sass/stylesheet.scss */
.button-style .orange-button .btn-text-add, #container-fluid-bg-top #top-section .special-promo-section .orange-button .btn-text-add, .special-promo-section-2 .orange-button .btn-text-add, #container-fluid-bg-girl .girl-content .orange-button .btn-text-add {
  font-size: 18px;
  padding-left: 40px;
}
@media only screen and (max-width: 480px) {
  /* line 105, ../sass/stylesheet.scss */
  .button-style .orange-button .btn-text-add, #container-fluid-bg-top #top-section .special-promo-section .orange-button .btn-text-add, .special-promo-section-2 .orange-button .btn-text-add, #container-fluid-bg-girl .girl-content .orange-button .btn-text-add {
    font-size: 15px;
    padding-left: 35px;
  }
}

/* line 116, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .promo-title, .special-promo-section-2 .promo-title {
  margin-left: 45px;
}
@media only screen and (max-width: 767px) {
  /* line 116, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .promo-title, .special-promo-section-2 .promo-title {
    margin-left: 0;
  }
}
/* line 121, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .promo-title h3, .special-promo-section-2 .promo-title h3 {
  font-size: 26px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  /* line 126, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .promo-title h3, .special-promo-section-2 .promo-title h3 {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 30px;
  }
}
/* line 132, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .promo-title .figcaption-promo, .special-promo-section-2 .promo-title .figcaption-promo {
  font-size: 18px;
}
@media only screen and (max-width: 767px) {
  /* line 132, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .promo-title .figcaption-promo, .special-promo-section-2 .promo-title .figcaption-promo {
    font-size: 14px;
    padding-bottom: 10px;
  }
}
/* line 140, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .price, .special-promo-section-2 .price {
  font-size: 31px;
}
@media only screen and (max-width: 480px) {
  /* line 140, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .price, .special-promo-section-2 .price {
    font-size: 24px;
    padding-top: 15px;
  }
}
/* line 147, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .counter-colon, .special-promo-section-2 .counter-colon {
  float: right;
}
/* line 150, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .counter-title, .special-promo-section-2 .counter-title {
  font-size: 18px;
  margin: 35px 0 15px 45px;
}
@media only screen and (max-width: 480px) {
  /* line 150, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .counter-title, .special-promo-section-2 .counter-title {
    font-size: 14px !important;
    margin: 15px 0 !important;
  }
}
/* line 158, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .counter, .special-promo-section-2 .counter {
  padding: 10px 0;
  margin: 0 auto;
  position: relative;
}
/* line 162, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .counter .col-xs-3, .special-promo-section-2 .counter .col-xs-3 {
  padding: 0;
}
@media only screen and (max-width: 480px) {
  /* line 166, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .counter .col-xs-3, .special-promo-section-2 .counter .col-xs-3 {
    width: 25%;
  }
}
/* line 170, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .counter p, .special-promo-section-2 .counter p {
  font-size: 31px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  /* line 170, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .counter p, .special-promo-section-2 .counter p {
    font-size: 22px;
  }
}
/* line 177, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .special-promo-section .counter .figcaption-counter, .special-promo-section-2 .counter .figcaption-counter {
  font-size: 8px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  /* line 177, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .special-promo-section .counter .figcaption-counter, .special-promo-section-2 .counter .figcaption-counter {
    font-size: 6px;
  }
}

/* line 191, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 192, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 194, ../sass/stylesheet.scss */
a:hover {
  text-decoration: none;
}

/* line 198, ../sass/stylesheet.scss */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
}

/* line 202, ../sass/stylesheet.scss */
.container-fluid {
  padding: 0;
}

@media only screen and (min-width: 1200px) {
  /* line 205, ../sass/stylesheet.scss */
  .container {
    width: 1020px;
  }
}

/* line 213, ../sass/stylesheet.scss */
#container-fluid-bg-top {
  background: url(../images/bg_header.jpg) no-repeat local;
}
@media only screen and (max-width: 480px) {
  /* line 213, ../sass/stylesheet.scss */
  #container-fluid-bg-top {
    background-position: center top;
  }
}
/* line 219, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section {
  color: #ffffff;
}
/* line 220, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .mobile-hidden-header {
  display: block;
}
@media only screen and (max-width: 480px) {
  /* line 220, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .mobile-hidden-header {
    display: none;
  }
}
/* line 226, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .mobile-visible-header {
  display: none;
}
@media only screen and (max-width: 480px) {
  /* line 226, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .mobile-visible-header {
    display: block;
  }
}
/* line 231, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .mobile-visible-header .header-image-section {
  margin-top: 20px;
  position: relative;
}
/* line 234, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .mobile-visible-header .header-image-section .rotation-price-mobile {
  position: absolute;
  top: 45px;
  right: 38px;
  z-index: 10;
}
/* line 239, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .mobile-visible-header .header-image-section .rotation-price-mobile p {
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
}
/* line 245, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .mobile-visible-header .header-image-section .discount-image {
  right: 10px;
}
/* line 251, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section h2 {
  margin: 20px 0;
  font-size: 31px;
}
@media only screen and (max-width: 767px) {
  /* line 251, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section h2 {
    font-size: 18px;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  /* line 259, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section p {
    font-size: 14px;
  }
}
/* line 266, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .list_with_tick_mark ul {
  margin-top: 40px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 480px) {
  /* line 266, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .list_with_tick_mark ul {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
/* line 273, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .list_with_tick_mark ul li {
  margin-bottom: 10px;
}
/* line 275, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .list_with_tick_mark ul li img {
  padding-right: 10px;
  vertical-align: middle;
}
/* line 279, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .list_with_tick_mark ul li p {
  display: inline-block;
}
/* line 291, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section {
  margin-top: 40px;
}
/* line 293, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 {
  padding-left: 4px;
  padding-right: 4px;
}
/* line 296, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card-image {
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  /* line 296, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-image {
    margin-bottom: 0;
  }
}
/* line 302, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #000000;
  background-color: #ffffff;
  padding: 20px;
  height: 500px;
}
@media only screen and (max-width: 991px) {
  /* line 302, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 {
    height: 600px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 302, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 {
    height: 450px;
  }
}
/* line 314, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content-last, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content-last {
  margin-top: 100px;
  height: 100px;
}
@media only screen and (max-width: 991px) {
  /* line 314, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content-last, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content-last {
    margin-top: 110px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 314, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content-last, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content-last {
    margin-top: 90px;
  }
}
/* line 323, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content-last .card-image-inner, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content-last .card-image-inner {
  padding-top: 15px;
  padding-bottom: 30px;
}
/* line 328, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content {
  height: 100px;
}
@media only screen and (max-width: 991px) {
  /* line 328, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content {
    height: 130px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 328, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content {
    height: 90px;
  }
}
/* line 336, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .cards-section .col-md-4 .card .card-content .card-image-inner, #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 .card-content .card-image-inner {
  padding-top: 15px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 991px) {
  /* line 342, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 {
    height: 350px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 342, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .cards-section .col-md-4 .card-2 {
    height: 300px;
  }
}
/* line 355, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .header-image-section {
  position: relative;
  top: 0;
  left: 0;
}
/* line 359, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .header-image-section .image-premium {
  position: relative;
  top: 0;
  left: 0;
}
/* line 364, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .header-image-section .rotation-price {
  position: absolute;
  top: 40px;
  right: 87px;
  z-index: 10;
}
@media only screen and (max-width: 991px) {
  /* line 364, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .header-image-section .rotation-price {
    top: 42px;
    right: 60px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 364, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .header-image-section .rotation-price {
    top: 47px;
    right: 33%;
  }
}
/* line 377, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .header-image-section .rotation-price p {
  font-size: 32px;
  font-weight: bold;
  line-height: 30px;
}
@media only screen and (max-width: 991px) {
  /* line 377, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .header-image-section .rotation-price p {
    font-size: 20px;
    line-height: 20px;
  }
}
/* line 387, ../sass/stylesheet.scss */
#container-fluid-bg-top #top-section .header-image-section .discount-image {
  position: absolute;
  top: 0;
  right: 50px;
}
@media only screen and (max-width: 991px) {
  /* line 387, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .header-image-section .discount-image {
    max-width: 100px;
    top: 10px;
    right: 30px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 387, ../sass/stylesheet.scss */
  #container-fluid-bg-top #top-section .header-image-section .discount-image {
    top: 15px;
    right: 28%;
  }
}

/* line 407, ../sass/stylesheet.scss */
#container-fluid-bg-sakura {
  background: url(../images/bg_sakura.jpg) no-repeat local;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 480px) {
  /* line 407, ../sass/stylesheet.scss */
  #container-fluid-bg-sakura {
    display: none;
  }
}
/* line 413, ../sass/stylesheet.scss */
#container-fluid-bg-sakura .sakura-title {
  background-color: #98c576;
}
/* line 416, ../sass/stylesheet.scss */
#container-fluid-bg-sakura .sakura-title h2 {
  font-size: 26px;
}
@media only screen and (max-width: 991px) {
  /* line 416, ../sass/stylesheet.scss */
  #container-fluid-bg-sakura .sakura-title h2 {
    font-size: 20px;
    line-height: 22px;
  }
}
/* line 425, ../sass/stylesheet.scss */
#container-fluid-bg-sakura .sakura-text p {
  font-size: 20px;
  padding-bottom: 45px;
  line-height: 24px;
}

/* line 436, ../sass/stylesheet.scss */
.special-promo-section-2 {
  position: relative;
  text-align: center;
}
/* line 441, ../sass/stylesheet.scss */
.special-promo-section-2 .rotation-price-2 {
  position: absolute;
  top: -10px;
  right: 39px;
  z-index: 10;
}
@media only screen and (max-width: 991px) {
  /* line 441, ../sass/stylesheet.scss */
  .special-promo-section-2 .rotation-price-2 {
    top: -10px;
    right: 60px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 441, ../sass/stylesheet.scss */
  .special-promo-section-2 .rotation-price-2 {
    display: none;
  }
}
/* line 453, ../sass/stylesheet.scss */
.special-promo-section-2 .rotation-price-2 p {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  line-height: 30px;
}
@media only screen and (max-width: 991px) {
  /* line 453, ../sass/stylesheet.scss */
  .special-promo-section-2 .rotation-price-2 p {
    font-size: 20px;
    line-height: 18px;
  }
}
/* line 464, ../sass/stylesheet.scss */
.special-promo-section-2 .discount-image-2 {
  position: absolute;
  right: 0;
  top: -55px;
}
@media only screen and (max-width: 991px) {
  /* line 464, ../sass/stylesheet.scss */
  .special-promo-section-2 .discount-image-2 {
    max-width: 100px;
    top: -40px;
    right: 30px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 464, ../sass/stylesheet.scss */
  .special-promo-section-2 .discount-image-2 {
    display: none;
  }
}
/* line 477, ../sass/stylesheet.scss */
.special-promo-section-2 .promo-title {
  margin-left: 0;
}
/* line 479, ../sass/stylesheet.scss */
.special-promo-section-2 .promo-title h3 {
  margin-top: 50px;
  margin-bottom: 15px;
}
/* line 484, ../sass/stylesheet.scss */
.special-promo-section-2 .counter-title {
  font-size: 18px;
  margin: 35px 0 15px 0;
}
/* line 488, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-2 {
  text-align: center;
}
/* line 490, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-2 .col-xs-3 {
  padding: 0;
}
@media only screen and (max-width: 480px) {
  /* line 494, ../sass/stylesheet.scss */
  .special-promo-section-2 #counter-2 .col-xs-3 {
    width: 25%;
  }
}
/* line 498, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-2 p {
  font-size: 31px;
}
/* line 501, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-2 .figcaption-counter-2 {
  font-size: 8px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  /* line 506, ../sass/stylesheet.scss */
  .special-promo-section-2 #counter-2 p {
    font-size: 22px;
  }
  /* line 509, ../sass/stylesheet.scss */
  .special-promo-section-2 #counter-2 .figcaption-counter-3 {
    font-size: 6px;
  }
}

/* line 518, ../sass/stylesheet.scss */
#why-you-need-section {
  margin-bottom: 20px;
}
/* line 520, ../sass/stylesheet.scss */
#why-you-need-section .why-you-need-title {
  margin-bottom: 20px;
}
/* line 525, ../sass/stylesheet.scss */
#why-you-need-section .why-you-need-content h3 {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 991px) {
  /* line 525, ../sass/stylesheet.scss */
  #why-you-need-section .why-you-need-content h3 {
    line-height: 22px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 535, ../sass/stylesheet.scss */
  #why-you-need-section .why-you-need-content ul {
    padding-bottom: 10px;
  }
}
/* line 541, ../sass/stylesheet.scss */
#why-you-need-section .why-you-need-content ul li img {
  padding-right: 5px;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  /* line 540, ../sass/stylesheet.scss */
  #why-you-need-section .why-you-need-content ul li {
    line-height: 26px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 540, ../sass/stylesheet.scss */
  #why-you-need-section .why-you-need-content ul li {
    line-height: 24px;
  }
}

/* line 558, ../sass/stylesheet.scss */
#container-fluid-bg-girl {
  background: url(../images/bg_girl.jpg) no-repeat local;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 480px) {
  /* line 558, ../sass/stylesheet.scss */
  #container-fluid-bg-girl {
    background: none;
    padding-top: 0;
    padding-bottom: 30px;
  }
}
/* line 569, ../sass/stylesheet.scss */
#container-fluid-bg-girl .girl-content {
  font-size: 22px;
}

@media only screen and (max-width: 480px) {
  /* line 579, ../sass/stylesheet.scss */
  #whats-more .mobile-hidden {
    display: none;
  }
}
/* line 584, ../sass/stylesheet.scss */
#whats-more .whats-more-title {
  margin-top: 0;
  position: relative;
}
/* line 588, ../sass/stylesheet.scss */
#whats-more .whats-more-title .rotation-price-3 {
  position: absolute;
  top: -10px;
  right: 158px;
  z-index: 10;
}
@media only screen and (max-width: 991px) {
  /* line 588, ../sass/stylesheet.scss */
  #whats-more .whats-more-title .rotation-price-3 {
    top: 12px;
    right: 150px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 588, ../sass/stylesheet.scss */
  #whats-more .whats-more-title .rotation-price-3 {
    display: none;
  }
}
/* line 600, ../sass/stylesheet.scss */
#whats-more .whats-more-title .rotation-price-3 p {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  line-height: 30px;
}
@media only screen and (max-width: 991px) {
  /* line 600, ../sass/stylesheet.scss */
  #whats-more .whats-more-title .rotation-price-3 p {
    font-size: 20px;
    line-height: 18px;
  }
}
/* line 611, ../sass/stylesheet.scss */
#whats-more .whats-more-title .discount-image-3 {
  position: absolute;
  top: -50px;
  right: 120px;
}
@media only screen and (max-width: 991px) {
  /* line 611, ../sass/stylesheet.scss */
  #whats-more .whats-more-title .discount-image-3 {
    max-width: 100px;
    top: -20px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 611, ../sass/stylesheet.scss */
  #whats-more .whats-more-title .discount-image-3 {
    display: none;
  }
}
/* line 623, ../sass/stylesheet.scss */
#whats-more .whats-more-title .smaller-text {
  font-size: 26px;
}
/* line 627, ../sass/stylesheet.scss */
#whats-more .whats-more-content {
  padding-bottom: 40px;
}
/* line 633, ../sass/stylesheet.scss */
#whats-more .reviews-content .reviews-section {
  margin-bottom: 80px;
}
@media only screen and (max-width: 480px) {
  /* line 633, ../sass/stylesheet.scss */
  #whats-more .reviews-content .reviews-section {
    margin-bottom: 30px;
  }
}
/* line 638, ../sass/stylesheet.scss */
#whats-more .reviews-content .reviews-section .name {
  font-weight: bold;
  padding-bottom: 10px;
}
/* line 643, ../sass/stylesheet.scss */
#whats-more .reviews-content .reviews-section-last {
  margin-bottom: 0;
}

/* line 649, ../sass/stylesheet.scss */
.special-promo-section-2 {
  text-align: center;
}
/* line 654, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-3 .col-xs-3 {
  padding: 0;
}
@media only screen and (max-width: 480px) {
  /* line 658, ../sass/stylesheet.scss */
  .special-promo-section-2 #counter-3 .col-xs-3 {
    width: 25%;
  }
}
/* line 662, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-3 p {
  font-size: 31px;
}
/* line 665, ../sass/stylesheet.scss */
.special-promo-section-2 #counter-3 .figcaption-counter-3 {
  font-size: 8px;
}
@media only screen and (max-width: 480px) {
  /* line 669, ../sass/stylesheet.scss */
  .special-promo-section-2 #counter-3 p {
    font-size: 22px;
  }
  /* line 672, ../sass/stylesheet.scss */
  .special-promo-section-2 #counter-3 .figcaption-counter-3 {
    font-size: 6px;
  }
}

/* line 681, ../sass/stylesheet.scss */
#footer {
  background-color: #9acb78;
  color: #ffffff;
  margin-top: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 480px) {
  /* line 681, ../sass/stylesheet.scss */
  #footer {
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 25px;
  }
}
/* line 692, ../sass/stylesheet.scss */
#footer img {
  padding-right: 115px;
}
@media only screen and (max-width: 767px) {
  /* line 692, ../sass/stylesheet.scss */
  #footer img {
    padding-right: 0;
    padding-top: 20px;
    text-align: center;
  }
}
/* line 700, ../sass/stylesheet.scss */
#footer .footer-text {
  padding-left: 30px;
}
/* line 702, ../sass/stylesheet.scss */
#footer .footer-text h1 {
  font-weight: bold;
  font-size: 26px;
  padding-top: 35px;
  padding-bottom: 25px;
}
@media only screen and (max-width: 991px) {
  /* line 702, ../sass/stylesheet.scss */
  #footer .footer-text h1 {
    font-size: 22px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 702, ../sass/stylesheet.scss */
  #footer .footer-text h1 {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}
/* line 716, ../sass/stylesheet.scss */
#footer .footer-text p {
  font-size: 18px;
  line-height: 22px;
}
@media only screen and (max-width: 991px) {
  /* line 716, ../sass/stylesheet.scss */
  #footer .footer-text p {
    font-size: 16px;
  }
}

/* line 728, ../sass/stylesheet.scss */
.discount-image,
.discount-image-2,
.discount-image-3 {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
